/* All the css related to media queries will come here */
/* x-small devices */
@media (min-width: 0) and (max-width: 576px){
    .case-study-card-container{
        max-width: 20rem;
    }

    .case-study-card-header{
        max-width: 15rem;
        max-height: 15rem;
    }

    .whyus-card{
        padding: 1rem 0.25rem;
    }

    .whyus-card, .whyus-card:nth-child(odd){
        flex-direction: column;
    }

    .whyus-card-image{
        margin-bottom: 1rem;
    }

    .whyus-card-content p{
        text-align: center;
        padding-left: 0;
        margin: auto;
    }

    /* influencer page css */
    .influencer-banner-section{
        flex-direction: column-reverse;
    }

    .banner-text{
        text-align: center;
    }

    .banner-text p{
        white-space: normal;
    }

    .cards-container{
        gap: 1.5rem;
    }

    .network-section .card:nth-child(even){
        top: 0;
    }

    .influencer-question{
        flex-direction: column;
        text-align: center;
    }

    .influencer-question-text p{
        white-space: normal;
    }

    .left-section-signup-form{
        width: 100%;
    }

    .right-section-signup-form{
        display: none;
    }
}

/* small devices */
@media (min-width: 577px) and (max-width: 768px){
    .carousel{
        margin: auto;
    }

    .work-done-card-container{
        max-width: 15rem;
    }
}

/* medium devices */
@media (min-width: 769px) and (max-width: 992px){
    .empower-text{
        font-size: 3.5rem;
    }
}

/* large devices */
@media (min-width: 993px) and (max-width: 1200px){

}